.location {
  display: flex;
  align-items: center;
  p {
    margin-right: 2rem;
  }
}

@media (max-width: 380px) {
  .forecast__footer {
    display: flex;
    flex-direction: column;

    span {
      display: block;
      margin-bottom: 1rem;
      font-size: 20px;
    }
  }
}