/* You can add global styles to this file, and also import other style files */

@import './assets/styles/style.css';
@import './assets/font/font-awesome.min.css';

html {
  background-color: #262936;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1e202b;
  height: 100%;
}